#title {
    background-color: #FF4C68;
    color: white;

}

h1 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: bolder;
    color: white;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    color: black;

}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bolder;
}

.icon {
    color: #ef8172;
    margin-bottom: 5%;
}

.icon :hover{
    color: #ff4c68;
}

.container-fluid {
    padding: 3% 15% 7%;
}



body {
    font-family: 'Montserrat', sans-serif;
    color: #8f8f8f;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'montserrat';
    font-weight: lighter;
}

/* Download buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* iphone image */

.iphone-img {
    width: 60%;
    position: absolute;
    right: 30%;
}


.rotate-25 {
            transform: rotate(25deg);
}

/* features */

#features {
    padding: 7% 15%;
    text-align: center;
    line-height: 1.5;
    background-color: white;
    z-index: 1;
    position: relative;

}

.feature-box {
    padding 5%;
}

/* testimonials */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-img {
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

/* press */

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-img {
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}



@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .iphone-img {
        position: static;
        transform: rotate(0);
    }
}

#cta {
    background-color: #FF4C68;
    text-align: center;
    padding: 100px 15% 40px;
}

#footer {
    background-color: white;
    text-align: center;
    padding: 100px 15% 20%;
}

.spanSpace {
    padding-left: 25px;
    padding-right: 25px;
  }

  .social {
      padding-bottom: 5%;
  }